@import "/src/styles";

.containerCalendarInput{
  width: 45%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap:2rem;

  &__label{
      font-size: $font-size-label-form;
      font-weight: $font-weight-label-form;
  }
}

.ant-picker{
  // background-color: red;
  padding:0.6rem;
}

