@import "/src/styles";

.containerTextInput{
  width: 45%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__label{
    font-size: $font-size-label-form;
    font-weight: $font-weight-label-form;
  }

  &__input{
    font-family: $font-family-secondary;
    font-weight: $font-weight-input-form;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    background-color: white;
    padding: 0.8rem;

    &::placeholder{
      color:$color-secondary;
      font-size: 1.2rem;
    }

    &:focus{
      background-color:$color-background-label-hover;
      border:2px solid $color-background-secondary;
    }
  }
}